.admin-login-container {
  margin-top: 150px;
}

.error {
  border-color: red !important;
}

.add-patient {
  text-align: center;
}

.new-patient-form{
  border: 1px solid saddlebrown;
  width: 100%;
}

.mb-2 {
  
}